<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.andersen.dogsapp">

    <application
        android:name=".dogs.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dogs.ui.MainAppDescriptionActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dogs.ui.owners.OwnersListActivity"
            android:theme="@style/MainDogApp"/>
        <activity
            android:name=".dogs.ui.owners.NewOwnerFormAcitivty"
            android:theme="@style/MainDogApp"/>
        <activity
            android:name=".dogs.ui.dogs.DogsListActivity"
            android:theme="@style/MainDogApp"/>
        <activity
            android:name=".dogs.ui.dogs.DogsInfoActivity"
            android:theme="@style/MainDogApp"/>
        <activity
            android:name=".dogs.ui.dogs.NewDogFormActivity"
            android:theme="@style/MainDogApp"/>
    </application>

</manifest>